$bg-color:#72becc;
$btn-color: #aaa6dc;
$container-color: #f9f9f9;
$font-size: 16px;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    width: 100%;
    height: 100vh;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    background-color: #a5bad4;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    color: #f9f9f9;
}

.container {
    background-color: $container-color;
    width: 340px;
    border-radius: 30px;
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    overflow: hidden;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 280px;
}
.input-container {
    display: flex;   
}

.input-container:nth-child(1), .input-container:nth-child(2) {
    margin-bottom: 10px;
}

input {
    width: 100%;
    margin-left: 12px;
}


.btn{
    display: inline-block;
    color: white;
    background-color: $btn-color;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 8px;
    min-height: 28px;
    width: 80px;
}


.calculateBtn-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

#calculate-btn {
    height: 40px;
    width: 120px;
    background-color: $btn-color;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 8px;
    min-height: 28px;
    border: none;
    color: #f9f9f9;
    transition: .3s;
}

#calculate-btn:hover{
    background-color: #7a75bc;
    transform: scale(1.05);
    cursor: pointer;
}

.result {
    background-color: #a5bad4;
    height: 100%;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 20px;
}
